.arco-rc-tooltip-button {
  padding: 20px;
}
.arco-material-last-days {
  display: flex;
}
.arco-material-last-days-picker {
  display: flex;
}
.arco-material-last-days-picker .date-time-picker {
  display: flex;
}
.arco-material-last-days-picker .calendar {
  font-size: 16px;
}
