@bottombar-height: 60rem; // 文字与图标间距

.my-restrant-app {
  overflow: auto;
  width: 100%;
  height: 100vh;

  font-size: 12rem;

  .app-content {
    height: calc(100vh - @bottombar-height)
  }

  .app-bottombar {
    height: @bottombar-height ;
  }

}